<ion-content [fullscreen]="true" class="ion-padding" scrollY="false">
  <ion-toolbar class="my-4">
    <ion-text>
      <h1 class="text-black text-2xl">Hello Varun,</h1>
      <p class="text-zinc-500 text-sm">You have work today</p>
    </ion-text>

    <ion-buttons slot="end">
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <!-- <ion-button>
        <ion-icon name="person-circle" class="text-[55px]"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
  <ion-grid class="p-0">
    <ion-row class="ion-no-padding">
      <ion-col
        ><ion-card class="bg-[#b4c4ff] rounded-lg">
          <ion-card-content>
            <ion-icon
              name="time-outline"
              class="text-[23px] rounded-full bg-white text-[#b4c4ff] border-4 border-white"
            ></ion-icon>
            <div class="flex justify-between">
              <p style="font-weight: bold; font-size: 19px" class="text-black">
                Today
              </p>

              <p style="font-weight: bold; font-size: 19px" class="text-black">
                6
              </p>
            </div>
          </ion-card-content>
        </ion-card></ion-col
      >
      <ion-col
        ><ion-card class="rounded-lg bg-[#cff3e9]">
          <ion-card-content>
            <ion-icon
              name="alarm-outline"
              class="rounded-full bg-white text-[#cff3e9] text-[23px] border-4 border-white"
            ></ion-icon>
            <div class="flex justify-between">
              <p style="font-weight: bold; font-size: 19px" class="text-black">
                Sheduled
              </p>
              <p style="font-weight: bold; font-size: 19px" class="text-black">
                5
              </p>
            </div>
          </ion-card-content>
        </ion-card></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col
        ><ion-card class="bg-[#c191ff] rounded-lg">
          <ion-card-content>
            <ion-icon
              name="repeat-outline"
              class="text-[23px] rounded-full bg-white text-[#c191ff] border-4 border-white"
            ></ion-icon>
            <div class="flex justify-between">
              <p style="font-weight: bold; font-size: 19px" class="text-black">
                All
              </p>
              <p style="font-weight: bold; font-size: 19px" class="text-black">
                14
              </p>
            </div>
          </ion-card-content>
        </ion-card></ion-col
      >
      <ion-col
        ><ion-card class="bg-[rgb(244,216,177)] rounded-lg">
          <ion-card-content>
            <ion-icon
              name="timer-outline"
              class="rounded-full bg-white text-[rgb(244,216,177)] text-[23px] border-4 border-white"
            ></ion-icon>
            <div class="flex justify-between">
              <p style="font-weight: bold; font-size: 19px" class="text-black">
                Overdue
              </p>
              <p style="font-weight: bold; font-size: 19px" class="text-black">
                3
              </p>
            </div>
          </ion-card-content>
        </ion-card></ion-col
      >
    </ion-row>
  </ion-grid>

  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    style="margin-bottom: 15px; margin-right: 15px"
  >
    <ion-fab-button id="open-modal" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h3 class="mt-5 font-bold pb-5">Today's Tasks</h3>

  <ion-content class="ion-no-padding h-[60%]">
    <div
      class="flex justify-between border-2 rounded-2xl py-6 px-6 items-center mb-5"
      *ngFor="let item of [].constructor(10);let i=index"
      [ngClass]="{'bg-[#ceffdb]':ischecked[i]}"
    >
      <ion-checkbox class="checkBox" [(ngModel)]="ischecked[i]"></ion-checkbox>
      <div>
        <h2 class="font-bold text-xl">Email to sabari</h2>
        <p class="text-sm text-zinc-400">8:00 AM to 12:00 PM</p>
      </div>
      <div>
        <ion-icon
          name="create-outline"
          class="text-[25px] me-3 text-zinc-500"
        ></ion-icon>
        <ion-icon
          name="trash-outline"
          class="text-[25px] text-red-500"
        ></ion-icon>
      </div>
    </div>
    <div class="h-16"></div>
  </ion-content>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ion-content>
      <ng-template>
        <ion-header class="rounded-b-xl">
          <div class="flex justify-center items-center h-20">
            <ion-icon
              name="chevron-back-outline"
              class="relative right-[7.2rem] text-[#3b708a] bg-[rgb(230,248,247)] text-xl p-2 font-bold rounded-lg"
              (click)="cancel()"
            ></ion-icon>
            <p class="text-xl font-bold text-[rgb(0,76,108)]">Add Task</p>
          </div>
        </ion-header>
        <ion-content class="ion-padding">
          <div class="px-4">
            <div class="flex flex-col mt-5">
              <label for="a" class="font-bold text-[rgb(0,76,108)]"
                >Task Name</label
              >
              <input type="text" id="a" class="border h-12 mt-3 rounded-lg" />
            </div>
            <div class="flex flex-col mt-6 relative">
              <label for="d" class="font-bold text-[rgb(0,76,108)]"
                >Date & Time</label
              >
              <input
                type="date"
                id="d"
                class="border h-12 mt-3 rounded-lg"
                (click)="date()"
                style="
                  padding-right: 0;
                  background-image: none;
                  background-color: white;
                "
              />
              <ion-icon
                name="calendar-outline"
                class="absolute top-[2.85rem] left-[19.5rem] text-xl text-[rgb(0,76,108)]"
                (click)="date()"
              ></ion-icon>
              <!-- <ion-datetime
                presentation="date"
                *ngIf="isDateClicked"
                class="absolute z-10 top-24"
              ></ion-datetime> -->
            </div>
            <div class="flex gap-7">
              <div class="flex flex-col mt-6 relative">
                <label for="c" class="font-bold text-[rgb(0,76,108)]"
                  >Start time</label
                >
                <input
                  type="time"
                  id="c"
                  class="border h-12 mt-3 rounded-lg w-40"
                /><ion-icon
                  name="chevron-down-outline"
                  class="absolute text-xl text-[rgb(0,76,108)] top-[2.85rem] left-32"
                ></ion-icon>
                <!-- <ion-datetime
                  presentation="time"
                  class="absolute z-10 top-24 -left-3 text-[rgb(0,76,108)] px-4"
                ></ion-datetime> -->
              </div>
              <div class="flex flex-col mt-6 relative">
                <label for="b" class="font-bold text-[rgb(0,76,108)]"
                  >End time</label
                >
                <input
                  type="time"
                  id="b"
                  class="border h-12 mt-3 rounded-lg w-40"
                /><ion-icon
                  name="chevron-down-outline"
                  class="absolute text-xl text-[rgb(0,76,108)] top-[2.85rem] left-32 font-bold"
                ></ion-icon>
                <!-- <ion-datetime
                  presentation="time"
                  class="absolute z-10 top-24 right-1 -left-5"
                ></ion-datetime> -->
              </div>
            </div>
            <div class="flex flex-col mt-6">
              <label for="f" class="font-bold text-[rgb(0,76,108)]"
                >Description</label
              >

              <textarea
                name=""
                id="f"
                cols="30"
                rows="4"
                class="border mt-3 rounded-lg"
              ></textarea>
            </div>
            <div class="flex justify-center">
              <button
                class="text-white bg-[rgb(0,76,108)] relative top-64 font-bold py-5 w-full rounded-lg"
              >
                Save Task
              </button>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-content>
  </ion-modal>
</ion-content>
